header
    nav
        div
            #logo
                img(src='/static/img/logo.png', alt='')
            +nav()
            +social()
            span.spacer
            .oc.fa.fa-caret-left
            a.menu(href='Menu')
                .top
                .mid
                .bot
        #menu
            +nav()
            div
                +social()