link(rel='apple-touch-icon', sizes='180x180', href='/static/favicon/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='/static/favicon/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='194x194', href='/static/favicon/favicon-194x194.png')
link(rel='icon', type='image/png', sizes='192x192', href='/static/favicon/android-chrome-192x192.png')
link(rel='icon', type='image/png', sizes='16x16', href='/static/favicon/favicon-16x16.png')
link(rel='manifest', href='/static/favicon/site.webmanifest')
link(rel='mask-icon', href='/static/favicon/safari-pinned-tab.svg', color='#b91d47')
link(rel='shortcut icon', href='/static/favicon/favicon.ico')
meta(name='msapplication-TileColor', content='#b91d47')
meta(name='msapplication-TileImage', content='/static/favicon/mstile-144x144.png')
meta(name='msapplication-config', content='/static/favicon/browserconfig.xml')
meta(name='theme-color', content='#ffffff')

link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Montserrat:400,700%7CRoboto:300,300i,400,400i,700,700i')
link(rel='stylesheet', href='//cdn.plyr.io/3.7.7/plyr.css')
link(rel='stylesheet', href='/static/css/stylesheet.css')

script(src='//ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js', crossorigin='anonymous')
script(src='//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js', crossorigin='anonymous')
script(src='//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js', crossorigin='anonymous')
script(src='//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js', crossorigin='anonymous')
script(src='//cdn.plyr.io/3.7.7/plyr.polyfilled.js')
script(src='/static/js/detectMobileBrowser.js')
script(src='/static/js/kj.app.js')